.bodyContact {
  background-color: #F2B544;
}
.bodyContact > .mainContact .contactanos {
  background-color: rgb(112, 48, 48);
  text-align: center;
  color: whitesmoke;
  font-family: "Patrick Hand", cursive;
  font-size: 1.6cm;
  font-weight: bold;
  margin-bottom: 15px;
}
.bodyContact > .mainContact > .forImg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bodyContact > .mainContact > .forImg .formulario {
  display: flex;
  flex-direction: column;
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  background-color: rgb(112, 48, 48);
  width: 390px;
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  color: whitesmoke;
}
.bodyContact > .mainContact > .forImg img {
  width: 350px;
  margin: 10px;
}