* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container, .row, .container-fluid {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0rem;
}

main {
  min-height: calc(100vh - 200px);
  margin: 0;
}

nav {
  background-color: #F2B544;
  color: black;
  font-family: "Patrick Hand", cursive;
  width: 100%;
  font-size: 0.8cm;
}
nav .navbar-nav a:hover {
  background-color: rgb(112, 48, 48) !important;
  color: whitesmoke !important;
}

footer {
  background-color: rgb(112, 48, 48);
  bottom: 0;
}
footer > .iconsFooter {
  display: flex;
  flex-direction: column;
  font-family: "Patrick Hand", cursive;
}
footer > .iconsFooter > a {
  margin-left: 6px;
  color: rgb(255, 255, 255);
  font-family: "Patrick Hand", cursive;
  text-decoration: none;
}
footer > .iconsFooter > a > i {
  color: rgb(255, 255, 255);
  margin: 10px;
}
footer > .textFooter {
  color: rgb(255, 255, 255);
  font-family: "Patrick Hand", cursive;
  font-size: 0.6cm;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

.bodyIndex {
  background-color: #F2B544;
  position: relative;
  margin: 0;
  padding: 0;
}
.bodyIndex h1 {
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  font-size: 2.5cm;
  text-align: center;
}
.bodyIndex > .headerIndex {
  background-image: url(../img/descarga.png);
  background-size: auto;
}
.bodyIndex > .mainIndex > .historiaP > h3 {
  font-family: "Patrick Hand", cursive;
  font-size: 1.5cm;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(112, 48, 48);
}
.bodyIndex > .mainIndex > .historiaP > p {
  font-family: "Patrick Hand", cursive;
  font-size: 1cm;
  font-weight: bold;
  color: whitesmoke;
  border: solid 10px;
  background-color: rgb(112, 48, 48);
  padding: 8px;
}
.bodyIndex > .mainIndex > .historiaP > img {
  display: block;
  margin: auto;
  border: solid 8px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.bodyIndex > .mainIndex > .brindando > h4 {
  margin: 15px;
  font-size: 1.5cm;
  font-weight: bold;
  font-family: "Patrick Hand", cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  border: solid rgb(0, 0, 0);
  background-color: rgb(112, 48, 48);
  border-radius: 15px;
}

.bodyCarta {
  background-color: #F2B544;
}
.bodyCarta .mainCarta > .comida {
  background-color: rgb(112, 48, 48);
}
.bodyCarta .mainCarta > .comida > h3 {
  font-family: "Patrick Hand", cursive;
  text-align: center;
  font-size: 2.5cm;
  font-weight: bold;
  color: whitesmoke;
}
.bodyCarta .mainCarta > .tarjetasMenu {
  margin-top: 80px;
  border: 3px solid;
  border-radius: 12px;
}
.bodyCarta .mainCarta > .tarjetasMenu > .cardPuntas {
  background-color: rgb(112, 48, 48);
  font-family: "Patrick Hand", cursive;
  color: whitesmoke;
  -webkit-animation: rotate-bl 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-bl 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes rotate-bl {
  0% {
    transform: rotate(0);
    transform-origin: bottom left;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: bottom left;
  }
}
@keyframes rotate-bl {
  0% {
    transform: rotate(0);
    transform-origin: bottom left;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: bottom left;
  }
}
.bodyCarta .mainCarta > .tarjetasMenu > .cardPuntas .btnMenu {
  background-color: black;
  border: white;
}
.bodyCarta .mainCarta > .tarjetasMenu > .cardPuntas .btnMenu:hover {
  background-color: brown;
}

.bodyContact {
  background-color: #F2B544;
}
.bodyContact > .mainContact .contactanos {
  background-color: rgb(112, 48, 48);
  text-align: center;
  color: whitesmoke;
  font-family: "Patrick Hand", cursive;
  font-size: 1.6cm;
  font-weight: bold;
  margin-bottom: 15px;
}
.bodyContact > .mainContact > .forImg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bodyContact > .mainContact > .forImg .formulario {
  display: flex;
  flex-direction: column;
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  background-color: rgb(112, 48, 48);
  width: 390px;
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  color: whitesmoke;
}
.bodyContact > .mainContact > .forImg img {
  width: 350px;
  margin: 10px;
}

.bodyPuntos {
  background-color: #F2B544;
}
.bodyPuntos .titlePuntos {
  font-family: "Patrick Hand", cursive;
  font-size: 2cm;
  font-weight: bold;
  text-align: center;
  background-color: rgb(112, 48, 48);
  color: whitesmoke;
}

.puntoFlex {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2cm;
  justify-content: space-around;
}
.puntoFlex .puntosVenta {
  margin: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(112, 48, 48);
  width: 600px;
  border: black solid 2px;
  border-radius: 15px;
  padding: 10px;
}
.puntoFlex .puntosVenta h2 {
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  font-size: 1cm;
  margin: 5px;
  text-align: center;
  color: whitesmoke;
}
.puntoFlex .puntosVenta p {
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
  font-size: 1cm;
  margin: 5px;
  text-align: center;
  color: whitesmoke;
}
.puntoFlex .puntosVenta .mapa {
  width: auto;
}

.bodyUs {
  background-color: #F2B544;
}

.flexNosotros {
  font-family: "Patrick Hand", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexNosotros h3 {
  color: whitesmoke;
  background-color: rgb(112, 48, 48);
  font-size: 2cm;
  width: 100%;
  height: 100px;
  text-align: center;
}
.flexNosotros .quienes {
  display: block;
  font-family: "Patrick Hand", cursive;
  font-size: 0.8cm;
  font-weight: bold;
  background-color: rgb(112, 48, 48);
  width: 390px;
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  color: whitesmoke;
}
.flexNosotros .quienes .tituloQuienes {
  color: #F2B544;
  font-size: 3cm;
  text-align: center;
}
.flexNosotros .quienes img {
  width: 100%;
  border: solid 3px;
  border-radius: 3px;
}
.flexNosotros .fundadora {
  display: block;
  font-family: "Patrick Hand", cursive;
  font-size: 0.8cm;
  font-weight: bold;
  background-color: rgb(112, 48, 48);
  width: 390px;
  border: black solid 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  color: whitesmoke;
}
.flexNosotros .fundadora h3 {
  font-family: "Patrick Hand", cursive;
  color: #F2B544;
  font-size: 1.5cm;
  text-align: center;
}
.flexNosotros .fundadora img {
  width: 100%;
  border: solid 3px;
  border-radius: 3px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "navbar navbar navbar" "main main main" "footer footer footer";
}

/*Nosotros*/