*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav > a:hover{
    color: white;
}
nav{
    background-color: #F2B544;
    color: black;
    font-family: 'Patrick Hand', cursive;
    width: 100%;
}
.navbar > .btn{
    color: #F2B544;
}

footer{
    background-color: rgb(112, 48, 48);
    bottom: 0;
}
.iconsFooter > a{
    color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.textFooter{
    color: rgb(255, 255, 255);
    font-family: 'Patrick Hand', cursive;
    font-size: 0.6cm;
}

/*Inicio*/
.bodyIndex{
    background-color: #F2B544;
    position: relative;
    margin: 0;
    padding: 0;

}
.headerIndex{
    background-image: url(../img/descarga.png);
    background-size: auto;
}
.recomendados{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-weight: bold;
    font-size: 2cm;
    background-color: rgb(112, 48, 48);
}

h1{
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 2.5cm;
    text-align: center;
}
.cardPuntas{
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(112, 48, 48);
    color: white;
    border: solid black;
}
.imgIndex{
    width: 100%;
    align-self: center;
    padding: 8px;
    
}

/*Carta*/
.bodyCarta{
    background-color: #F2B544;
}
.comida{
    background-color: rgb(112, 48, 48);
}
.comida > h3{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5cm;
    font-weight: bold;
    color: whitesmoke;
}

.tarjetasMenu{
    border: 3px solid;
    border-radius: 12px;
}
.btnMenu{
    background-color: black;
    border: white;
}
.btnMenu:hover{
    background-color: brown;
}