.bodyCarta {
    background-color: #F2B544;
    > .comida {
        background-color: rgb(112, 48, 48);
        > h3{
            text-align: center;
            font-family: 'Patrick Hand', cursive;
            font-size: 2.5cm;
            font-weight: bold;
            color: rgb(112, 48, 48); 
        }
    }
}