* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container,.row,.container-fluid{
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0rem;
}
main{
    min-height: calc(100vh - 200px);
    margin: 0;
}