@import "reset";
@import "nav";
@import "footer";
@import "index";
@import "carta";
@import "contacto";
@import "puntosdeventa";
@import "nosotros";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "navbar navbar navbar"
        "main main main"
        "footer footer footer";
}




/*Nosotros*/

